In [41]:
#optimized retrieval 
import urllib.request
import csv
import pandas as pd
import json
import re

# categories with associated offence code
larceny = [612, 617, 619, 621, 611, 631, 612, 622, 632]
manslaughter = [123, 121, 111, 121, 122, 123, 124, 125]
driving_under_influence = [2102, 2101]
rape_sexual_assault = [254, 271, 244, 251, 241, 243, 261, 252, 253, 1704, 222, 230, 236, 211, 232, 233, 224, 213, 223, 231, 237, 212, 234, 235, 1720, 1703]
robbery = [301, 311, 351, 361, 371, 381, 301, 302, 304, 303, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 434, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 373, 374, 375, 376, 377, 378, 379, 380]
assault_battery = [801, 802, 423, 413, 1702, 401, 402, 403, 404, 411, 413, 421, 422, 423, 424, 431, 432, 433, 1727, 1726, 1725, 1702]
kidnapping = [2511, 2622, 2611]
burglary = [541, 540, 562, 561, 542, 521, 522, 560]
bombs_explosives = [2648, 2618, 3123, 3107]
harassment = [2670, 2629]
posession_drugs = [1810, 1847, 1840, 1843, 1841, 1848, 1850]
weapons = [3016, 3017, 1501, 1503, 1502, 1504, 1510, 3119]
arson = [900, 901, 902, 905, 906, 907, 920, 930]
breaking_entering = [520, 521, 522, 527, 510, 511, 512, 517, 540, 541, 542, 543, 547, 530, 531, 532, 537]
child_abuse_endangerment = [2003, 2005]
disorderly_conduct = [2405, 2403]
public_drinking = [2646]


def offense_type(code):
    if code in larceny:
        return 'Larceny'
    elif code in manslaughter:
        return 'Manslaughter'
    elif code in driving_under_influence:
        return 'Driving Under Influence'
    elif code in rape_sexual_assault:
        return 'Rape/Sexual Assault'
    elif code in robbery:
        return 'Robbery'
    elif code in assault_battery:
        return 'Assault/Battery'
    elif code in kidnapping:
        return 'Kidnapping'
    elif code in burglary:
        return 'Burglary'
    elif code in bombs_explosives:
        return 'Bombs/Explosives'
    elif code in harassment:
        return 'Harassment'
    elif code in posession_drugs:
        return 'Possession'
    elif code in weapons:
        return 'Weapons'
    elif code in arson:
        return 'Arson'
    elif code in breaking_entering:
        return 'Breaking and Entering'
    elif code in child_abuse_endangerment:
        return 'Child Abuse/Endangerment'
    elif code in disorderly_conduct:
        return 'Disorderly Conduct'
    elif code in public_drinking:
        return 'Public Drinking'
    else:
        return None
    
# process all in the dataframe 
def process(R, f):
    return [f(r) for r in R]

# filter results based on relevant types to the study
def filterResults(row):
    try:
        if offense_type(int(row['offense_code'])) and row['offense_code'] and row['district'] and row['hour'] and row['location']:
            return {'offense_type': offense_type(int(row['offense_code'])), 'district': row['district'], 'hour': row['hour'], 'location': row['location']['coordinates']}
        else:
            return None
    except KeyError:
        return None


if __name__ == "__main__":
    # retrieve the data
    url = 'https://data.cityofboston.gov/resource/29yf-ye7n.json'
    response = urllib.request.urlopen(url).read().decode("utf-8")
    data = json.loads(response)

    # filter through results first
    crime_data = process(data, filterResults)
    crime_data = [r for r in crime_data if r] #removes None values
    
    # save to a pandas dataframe
    crime_data = pd.DataFrame.from_dict(crime_data)
    print(crime_data)

SyntaxError: invalid syntax (<ipython-input-41-085cceff6057>, line 82)

In [40]:
import urllib.request
import csv
import pandas as pd

# fetching the csv 
response = urllib.request.urlopen('https://data.cityofboston.gov/api/views/fqn4-4qap/rows.csv?accessType=DOWNLOAD&bom=true')
data = response.read()
# Save the string to a file
csvstr = str(data).strip("b'")
# saving the csv
lines = csvstr.split("\\n")
d = open("crime_incident_report_august_2015_to_date.csv", "w")
for line in lines:
    d.write(line + "\n")

#reading in csv to create dataframe
df = pd.read_csv('crime_incident_report_august_2015_to_date.csv')

# removing irrelevant columns and null values
cols = [0,2,3,5,6,7,9,10,11,12,13,14,15]
df.drop(df.columns[cols],axis=1,inplace=True)

# removing null or invalid values
df = df[df.DISTRICT.notnull()]
df = df[df.Location != '(0E-8, 0E-8)']

df

        OFFENSE CODE DISTRICT  Hour                     Location
0               3115       D4    12  (42.34868917, -71.07257992)
1               3502       B3    12   (42.3019742, -71.08383388)
2               3201       D4    19   (42.34012548, -71.0822333)
3               2900      D14    18  (42.36290257, -71.13737847)
5                520       B3    17  (42.29474312, -71.08503786)
6               3125       B2    12  (42.33332581, -71.10232464)
8                614      D14    16  (42.35598557, -71.15825105)
9               3125       B3    17  (42.28741775, -71.08787231)
10              3207       B2    10  (42.32905325, -71.08891048)
11              1402       B3     4  (42.29356132, -71.08129517)
12              2907       E5    14       (42.26295, -71.155464)
13              2647       B2    14  (42.33353077, -71.09845207)
14              3006       B3    17  (42.29406247, -71.09004553)
15               522       A1    19  (42.36339791, -71.05600208)
16              3114      D14     0  (42.35115368, -71.17291563)
17              3201       E5    18   (42.2802082, -71.17087959)
18              2905       B2    17  (42.30970016, -71.08582414)
19              3301       B2    18   (42.32126855, -71.0669728)
20               724      A15    13  (42.38432736, -71.07482212)
21              3114      C11    16  (42.31363409, -71.06778025)
22              1810      C11    11  (42.29794304, -71.05175837)
23              2647       B3    15  (42.28200583, -71.07606657)
24              3802      D14    10  (42.34982008, -71.16121989)
25              3410       D4    12   (42.34010961, -71.0788244)
26              2662       B2    15  (42.32854498, -71.07726702)
27              3201      D14    11  (42.33667474, -71.15166308)
28              1815      C11    18  (42.29109287, -71.06594539)
29              1402       C6    13  (42.33466323, -71.04153186)
31              3501      E18    16   (42.25992567, -71.1309563)
32              1402       B3    16  (42.26681254, -71.09566961)
...              ...      ...   ...                          ...
137647          3207       D4    11  (42.35433643, -71.07323767)
137648          3006      C11    15  (42.29265602, -71.06470274)
137649           802       B2    14  (42.31768581, -71.06656219)
137650          3115       C6    14  (42.32779976, -71.06771009)
137651           619       A1    17  (42.36489527, -71.06050249)
137652          3115       B3    13  (42.28482577, -71.09137369)
137653          3803      E18    16  (42.24309004, -71.12525818)
137654           301       B2    13  (42.31096953, -71.08461836)
137655          3501       B2    18  (42.32866284, -71.08563401)
137656           615       B2    13  (42.32756936, -71.10181691)
137657           614       B3    12  (42.29814068, -71.07479166)
137658           802       B2    23  (42.32851529, -71.07653709)
137659          1842       C6    10  (42.32779976, -71.06771009)
137660           522       B3    13  (42.29755695, -71.08182045)
137661           801      A15    16  (42.37474921, -71.05270605)
137662          3207       D4     5  (42.33954199, -71.06940877)
137663           617      E18    18  (42.26886966, -71.11802566)
137664           802      A15     8   (42.3787592, -71.05598086)
137665           724       B2    15  (42.31878339, -71.09074228)
137666          1102       C6    23  (42.32779976, -71.06771009)
137667          2647       B2    18    (42.333382, -71.08745421)
137669          2647       C6    10  (42.32779976, -71.06771009)
137670          1402      C11    18  (42.31712382, -71.05433485)
137671          3831      C11    20   (42.31734603, -71.0567131)
137672           735       B2    17  (42.32696802, -71.08051941)
137673          3410       A7     6  (42.38135785, -71.03768163)
137674          3006       B2    16  (42.31484522, -71.07738943)
137675           615      A15    13  (42.38192649, -71.07041758)
137676          3115       D4     1  (42.34285014, -71.06516235)
137677           802       B2     8  (42.31772429, -71.09243239)

[129236 rows x 4 columns]